<head>
    <title>FML GDPR etc.</title>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/popper.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/slick.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
