<nav class='navbar navbar-expand-lg fixed-top'>
    <div class='navbar-toggle'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item'>
          <a class='nav-link' href="/">Home</a>
        </li>
        <!-- To view specific information about MNIST (per user) -->
        <li class='nav-item'>
          <a class='nav-link' href="/mnist/{{user.uid}}">MNIST</a>
        </li>
        <!-- To view specific information about Income -->
        <li class='nav-item'>
          <a class='nav-link' href='/income/{{user.uid}}'>Income</a>
        </li>
        <!-- To display information from the Aggregator (how many things have been queued up to request change) -->
        <li class='nav-item'>
            <a class='nav-link' href='/server'>Server</a>
          </li>
        <!-- To select the user -->
        <li class='nav-item'>
          <form method='post' name='uid_form' action='/changeUid' class='form-inline col-xs-4 my-4 my-lg-0'>
            <select name="uid-selector" onchange="this.form.submit();">
              <option value="{{user.uid}}" selected>User: {{user.uid}}</option>
              {% for uid in uids %}
              <option value="{{uid}}">User: {{uid}}</option>
              {% endfor %}
            </select>

          </form>
        </li>
        <!-- To select compliance mode  -->
        <li class='nav-item'>
          <form method='post' name='compliance_form' action='/changeCompliance' class='form-inline col-xs-4 my-4 my-lg-0'>
            <select id="selectedCompliance" name="selectedCompliance" onchange="this.form.submit();">
              <option value="{{complianceMode}}" selected>Compliance: {{complianceMode}}</option>
              {% for complianceOption in complianceOptions %}
              <option value="{{complianceOption}}">Compliance: {{complianceOption}}</option>
              {% endfor %}
            </select>
          </form>
        </li>
      </ul>
    </div>
  </nav>