<a href="/change_permission/{{ user.uid }}/{{ data['id'] }}"></a>
    {% if data['opt_in'] %}
        <div id="{{user.uid}} - {{ data['id'] }}" style="background-color: #e0f0ce; height:20%; width: 500px; margin:5px;padding:5px;">
            <p>[IN]: {{ data['id'] }}</p>
            <p>Rounds*: {{data['rids']}}</p>
            <a href="/change_permission/{{user.uid}}/{{data['id']}}">Opt out,</a>
            <a href="/delete_data_local/{{user.uid}}/{{data['id']}}">Local delete,</a>
            {% if complianceMode == "WEAK" or complianceMode == "STRONG" or complianceMode == "STRICT "%}
            <a href="/delete_data_deep/{{user.uid}}/{{data['id']}}">Deep delete,</a>
            {% endif %}
            <a href="/update_data_local/{{user.uid}}/{{data['id']}}">Local update,</a>
            {% if complianceMode == "WEAK" or complianceMode == "STRONG" or  complianceMode == "STRICT "%}
            <a href="/update_data_deep/{{user.uid}}/{{data['id']}}">Deep update</a>
            {% endif %}
        </div>
    {% else %}
        <div id="{{user.uid}} - {{ data['id'] }}" style="background-color: #c7c7c7; height:20%; width: 500px; margin:5px;padding:5px;">
            <p>[OUT]: {{ data['id'] }}</p>
            <a href="/change_permission/{{user.uid}}/{{data['id']}}">Opt in,</a>
            <a href="/delete_data_local/{{user.uid}}/{{data['id']}}">Local delete,</a>
            <a href="/update_data_local/{{user.uid}}/{{data['id']}}">Local update</a>
        </div>
    {% endif %}
</a>